@import "../../-media-query.scss";

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(91, 65, 158);
    color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 99;

    @include phone {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: crimson;
        flex-direction: column;
        gap: 10px;
    }

    .left {
        h1 {
            font-size: 20px;
            font-weight: 600;

            @include phone {
                font-size: 12px;
                margin-top: 0.4rem;
            }
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;

        .icons {
            display: none;
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            width: 15rem;
            height: 2rem;
            border: 1px solid lightgray;
            border-radius: 5px;

            @include phone {
                height: 1.5rem;
                margin-bottom: 0.3rem;
            }

            input {
                border: none;
                width: 100%;

                &:focus {
                    outline: none
                }
            }
            button {
                border: none;
                height: 2rem;
                background-color: green;
                color: rgb(242, 242, 243);
                cursor: pointer;
                border-radius: 5px;
                width: 5rem;

                @include phone {
                    height: 1.5rem;
                }

                &:hover {
                    color: green;
                    background-color: #fff;
                }
            }
        }
    }
}